{:deps {clj-http {:mvn/version "3.9.1"}
        ring/ring-core {:mvn/version "1.7.1"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.3"}}}
